/*  8movie-posters-css,  muhammad mohsin,    Class activity, web dev2, cc l5 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 10px; 
    background-color: #1e1e1f; 
    padding: 10px;
    border-radius: 12px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    width: 250px; 
    height: 334px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.grid-container > div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
}

.grid-container img:hover {
    transform: scale(1.2); 
}
footer {
    text-align: center;
    color: aliceblue;
  }