/* Web-Dev-task-1- Muhammad Mohsin /CSS Web-Dev-Task-1-Clone-Muhammad Mohsin.css */
/* Created by: Muhammad Mohsin */
/* Course: Creative Computing */
/* Year 2-Level 5-Group 2 */
/* Setting styles for the whole page */
/*  Web-Dev-2-task-1 */

/*  Styling for the body */
body {
    font-family: 'Josefin Sans', sans-serif; /* Choosing a clean, sans-serif font for readability */
    background-color: #e9e9e9; /* Light grey background for a soft look */
    font-size: 16px; /* Standard font size for general text */
    margin: 0px; /* Removing default margin around the page for a cleaner layout */
}
/*  Styling for headings */
h1, h2, .main-title, .sub-title, .heading-title {  /* Styling headings */
    font-family: 'Protest Guerrilla', sans-serif; /* Choosing a bold, unique font for headings */
    font-size: 48px;

}

/*Styling for the main title */
h1 {
    font-size: 96px;  /* Large font size for the main title */
    font-weight: bold;   /* Bold weight for the main title */
}
/*  Styling for the heading title */
.heading-title{ 
    font-size: 48px; /* Medium font size for the heading title */
    font-size: 48px;    /* Medium font size for the heading title */
    padding-left: 50px; /* Adding padding to the left for a clean look */
    padding-right: 50px;    /* Adding padding to the right for a clean look */
    margin-top: 0px;    /* Removing top margin for a clean look */
    margin-bottom: 0px; /* Removing bottom margin for a clean look */
}
/* It's a container box,centers content and maintains responsive width, used for main content sections*/
.white-container-box {
    text-align: center;/* Center-align all text content within container */
    max-width: 80%;/* Setting maximum width to 80% of parent element, it alllows for responsive scaling while preventing too-wide layouts*/
    margin: 40px auto;  /* Adding top and bottom margin for spacing */
}
/* this is inside the white container box, it is being uaes especially for the logo*/
.white-container-box img {
    width: 200px;  /*  Setting width for the logo */
    height: 200px; /*  Setting height for the logo*/
    border-radius: 50%; /* Applying circular border to the logo */
}

/* This is styling for navigation links */
.nav-links {
    text-align: center; /*/ Center-align navigation links */
    display: flex;  /*  Using flexbox to create a horizontal layout */
    gap: 136px;  /*  Setting gap between navigation links */
    justify-content: center;  /*  Center-align navigation links */
    align-items: center; /*  Center-align navigation links */
    margin-top: 50px; /*  Adding top margin for spacing */
}

/*this is styling for each navigation links */
.nav-links a {
    margin: 0 15px;  /* Adding left and right margin for spacing */
    text-decoration: none;  /* Removing underline from navigation links */
    color: black;  /* Setting text color to black */
}

/*  Styling for the main content section */
#main-content {    
    background-color: #ffffff;   
    padding: 0px; /*  Adding padding for spacing */
    border: 1px solid #000000; /*  Adding border */
    margin: 40px auto;/*  Adding top and bottom margin for spacing */
    max-width: 80%;/*  Setting maximum width to 80% of parent element, it alllows for responsive scaling while preventing too-wide layouts*/
    margin-bottom: 0;/*  Removing bottom margin for spacing */
}

/*  Styling for the main title */
.title {
    font-size: 96px;    /*  Setting font size to 96px */
    padding: 50px 50px 0px 50px;    /*  Adding top, right, bottom, and left padding for spacing */
    margin: 0px 0px 0px 0px;    /*  Removing top, right, bottom, and left margin for spacing */
    
}
 
/*  Styling for the subtitle */
.subtitle {
    font-size: x-large; /*  X-Large font size for the subtitle */
    margin: 20px 50px;  /*  Adding top and bottom margin for spacing */
}

/* Styling for the grid container */
.grid-container {
    column-count: 3;  /*  Setting column count to 3 */  
    padding: 0 50px 50px;  /*  Adding top, right, bottom, and left padding for spacing */
}

/*  Styling for the container */
.container {
    display: grid;  /*  Using grid layout */
    grid-template-columns: 2fr 1fr 1fr;  /*  Setting column width to 2fr, 1fr, and 1fr */
    grid-template-rows: 1fr 1fr;      /*  Setting row height to 1fr and 1fr */
    gap: 0; /*  Removing gap between grid items */
    width: 100%;    /*  Setting width to 100% */
    height: 100%;   /*  Setting height to 100% */
    box-sizing: border-box;  /*  Box-sizing: border-box to include padding and border in the width and height */
}

/*  Styling for the featured section */
.featured {
    grid-column: 1 / 2; /*  Setting grid column to 1/2 */
    grid-row: 1 / 3;  /*  Setting grid row to 1/3 */
    overflow: hidden;   /*  Overflow: hidden to hide any content that overflows the container */
    display: flex;  /*  Using flexbox to create a flex container */
    align-items: center;    /*  Aligning items in the center of the container */
    justify-content: center;    /*  Justifying content in the center of the container */
}
/*  Styling for the album cover */
.album-cover {
    overflow: hidden;       /*  Overflow: hidden to hide any content that overflows the container */
    display: flex;  /*  Using flexbox to create a flex container */
    align-items: center;    /*  Aligning items in the center of the container */
    justify-content: center;    /*  Justifying content in the center of the container */
    width: 100%;    /*  Setting width to 100% */
    aspect-ratio: 1 / 1;        /*  Setting aspect ratio to 1/1 */
}

/* Styling for the album cover image and featured image */
.featured img,
.album-cover img {
    width: 100%;    /*  Setting width to 100% */
    height: 100%;   /*  Setting height to 100% */
    object-fit: cover;    /*  Object-fit: cover to cover the entire container */
}

/* Styling for the album title */
.author {
    text-align: left; /*  Aligning text to the left */
    padding: 50px 50px; /*  Adding top and bottom padding */
}
/* Styling for the album title */
.author_section {
    display: grid;  /*  Using grid layout */
    grid-template-columns: 1fr auto;    /*  Setting column width to 1fr and auto */    
    gap: 63px;  /*  Adding gap between grid items */
    align-items: center;    /*  Aligning items in the center of the container */
}
/* Styling for the text content */
.text-content {
    display: flex;  /*  Using flexbox to create a flex container */
    flex-direction: column; /*  Setting flex direction to column */
    align-items: center;    /*  Aligning items in the center of the container */
}

/* Styling for the text content */
.text-content h2 {
    margin: 0; /*  Removing margin */
    text-align: center; /*  Aligning text to the center */
    padding-bottom: 10px;   /*  Adding bottom padding */
}

/* Styling for the text content */
.text-content p {
    margin: 0;  /*  Removing margin */
    text-align: left;    /*  Aligning text to the left */
    font-size: 16px;    /*  Setting font size to 16px */
}
/* Styling for the author image */
.author img {
    width: 200px;   /*  Setting width to 200px */
    height: auto;   /*  Setting height to auto */
    border-radius: 50%; /*  Applying circular border to the image */
}
/*  Styling for the footer */
footer {
    text-align: center; /*  Aligning text to the center */
    background-color: #14181d;  /*  Setting background color to #14181d */
    color: rgb(255, 255, 255);   /*  Setting text color to aliceblue */
    padding: 50px 0px;    /*  Adding top and bottom padding */
}

/* Media Query for Desktop (1024px and up) */
@media screen and (min-width: 1024px) {
    /* General Margin and Padding for Desktop */
    body {
        margin-left: 0px; /*  Adding left margin */
        margin-right: 0px; /*  Adding right margin */
        margin-top: 0px; /* Adding top margin */
        margin-bottom: 0px; /* Adding bottom margin */
        padding-left: 0px; /* Adding left padding */
        padding-right: 0px ; /* Adding right padding */
    }
    /* Styling for the logo */
    .white-container-box img { 
        width: 200px;  /*  Setting width to 200px */
    }
    /*  Styling for the navigation links */
    .nav-links {
        gap: 173px; /*  Setting gap between navigation links */
        justify-content: center;    /*  Justifying content in the center of the container */
    }
    /*  Styling for the subtitle */
    .subtitle {
        font-size: x-large; /*  X-Large font size for the subtitle */
    }
    /*  Styling for the main content section */
    #main-content {
    background-color: #ffffff; /*   Setting background color to #ffffff */  
    padding: 0px; /*    Adding padding for spacing */
    border: 2px solid #000000; /* Adding border for spacing */
    margin: 40px auto; /*   Adding top and bottom margin for spacing */ 
    max-width: 80%; /*  Setting maximum width to 80% of parent element, it alllows for responsive scaling while preventing too-wide layouts*/
    margin-bottom: 0; /*  Removing bottom margin for spacing */
    }
    /*  Styling for the author */
    .author {
        padding: 50px 150px; /*   Adding top and bottom padding */   
    }
}   

/* Media Query for Tablet (720px - 1024px) */
@media screen and (min-width: 720px) and (max-width: 1024px) {
    /*  General Margin and Padding for Tablet */
    body {
        margin: 0;  /*  Removing margin */
        padding: 0; /*  Removing padding */
        background-color: #e9e9e9;  /*  Setting background color to #e9e9e9 */
        font-family: 'Josefin Sans', sans-serif;
         align-content: center;      /*  Aligning content in the center of the container */
    }
    /*  Styling for the header */
    .header {
        text-align: center; /*  Aligning text to the center */
        padding: 20px;  /*  Adding padding for spacing */
    }
    /*  Styling for the logo */
    .white-container-box img  {
        width: 80px;    /*  Setting width to 80px */
        height: 80px;   /*  Setting height to 80px */
        border: 2px solid #000;  /*  Adding border */
        border-radius: 50%; /*  Applying circular border */
        margin: 0 auto; /*  Adding margin for spacing */
    }
    /*  Styling for the navigation links */
    .nav {
        display: flex;  /*  Using flexbox to create a flex container */
        justify-content: center;    /*  Justifying content in the center of the container */
        gap: 40px;  /*  Setting gap between navigation links */
        margin-top: 20px;   /*  Adding top margin for spacing */
    }
    /*  Styling for the main content section */
    #main-content {
        max-width: 80%;   /*  Setting maximum width to 80% of parent element, it alllows for responsive scaling while preventing too-wide layouts*/
        margin-top: 30px;   /*  Adding top margin for spacing */
        border:  2px solid #000;    /*  Adding border for spacing */
    }

    /*  Styling for the main content */
    .main-content {
        margin: 20px auto;  /*  Adding top and bottom margin for spacing */
        background: white;  /*  Setting background color to white */
        padding: 40px;  /*  Adding padding for spacing */
    }
    /*  Styling for the heading title*/
    .heading-title{
        text-align: center; /*  Aligning text to the center */
        font-size: 36px;    /*  Setting font size to 36px */
        padding-left: 30px; /*  Adding left padding for spacing */
        padding-right: 30px;    /*  Adding right padding for spacing */

    }
    /*  Styling for the main title */
    .title {
        font-size: 48px;    /*  Setting font size to 48px */
        text-align: center; /*  Aligning text to the center */
        padding-top: 30px;  /*  Adding top padding for spacing */
        padding-left: 30px; /*  Adding left padding for spacing */
        padding-right: 30px;    /*  Adding right padding for spacing */
    }
    /*  Styling for the subtitle */
    .subtitle {
        margin-bottom: 30px;    /*  Adding bottom margin for spacing */
        font-size: 18px;    /*  Setting font size to 18px */
        text-align: center; /*  Aligning text to the center */
    }
    /*  Styling for the heading */
    .heading {
        font-size: 36px;    /*  Setting font size to 36px */
        text-align: center; /*  Aligning text to the center */
        margin: 0px 0px 30px 0px;
    }
    /*  Styling for the grid container */
    .grid-container {
        column-count: 1;    /*  Setting column count to 1 */
        margin-bottom: 40px;    /*  Adding bottom margin for spacing */
    }
    /*  Styling for the  grid container */
    .grid-container{
        text-align: left;   /*  Aligning text to the left */
        padding-left: 30px; /*  Adding left padding for spacing */
        padding-right: 30px;    /*  Adding right padding for spacing */
        padding-bottom: 30px;   /*  Adding bottom padding for spacing */
        margin-bottom: 0px;    /*  Removing bottom margin for spacing */
    }
    /*  Styling for the container */
    .container {
        display: grid;  /*  Using grid layout */
        grid-template-columns: 1fr 1fr;     /*  Setting column width to 1fr and 1fr */
        grid-template-rows: 1fr 1fr;        /*  Setting row height to 1fr and 1fr */
        gap: 0;     /*  Removing gap between grid items */
        width: 100%;    /*  Setting width to 100% */
        height: 100%;   /*  Setting height to 100% */
        box-sizing: border-box;  /*  Box-sizing: border-box to include padding and border in the width and height */
    }
    /*  Styling for the featured section */
    .featured{
        display: none;  /*  Hiding the featured section */
    }
    /*  Styling for the album cover */
    .album-cover {  
        overflow: hidden;   /*  Overflow: hidden to hide any content that overflows the container */
        display: flex;  /*  Using flexbox to create a flex container */
        align-items: center;    /*  Aligning items in the center of the container */
        justify-content: center;    /*  Justifying content in the center of the container */
        width: 100%;    /*  Setting width to 100% */
        aspect-ratio: 1 / 1;    /*  Setting aspect ratio to 1/1 */
    }   

    /*  Styling for the album cover image */
    .album-cover img {
        width: 100%;    /*  Setting width to 100% */
        height: 100%;   /*  Setting height to 100% */
        object-fit: cover;  /*  Object-fit: cover to cover the entire container */
        border-radius: 0;   /*  Removing border radius */
    }
    /*  Styling for the author section */
    .author-section {
        display: flex;  /*  Using flexbox to create a flex container */
        justify-content: space-between;    /*  Justifying content with space between */
        align-items: center;    /*  Aligning items in the center of the container */
        margin: 40px 0;    /*  Adding top and bottom margin for spacing */
    }
    /*  Styling for the author*/
    .author{
        padding: 30px 30px; /*  Adding padding for spacing */
    }
    /*  Styling for the author content  */
    .author-content {
        flex: 1;    /*  Setting flex to 1 to take up available space */
    }
    /*  Styling for the author image */
    .author-image {
        width: 130px;   /*  Setting width to 130px */
        height: 130px;  /*  Setting height to 130px */
        border: 2px solid #000; /*  Adding border */
        border-radius: 50%; /*  Applying circular border */
        margin-left: 40px;  /*  Adding left margin for spacing */
    }
    /*  Styling for the footer */
    .footer {   
        text-align: center; /*  Aligning text to the center */
        padding: 20px 0px;  /*  Adding padding for spacing */
        background: #000;   /*  Setting background color to #000 */
        color: white;   /*  Setting text color to white */
    }
    /*  Styling for the content lines */
    .content-lines {
        display: flex;  /*  Using flexbox to create a flex container */
        flex-direction: column;  /*  Setting flex direction to column */
        gap: 10px;  /*  Setting gap between content lines */
    }
    .text-content h2{
        font-size: 32px;    /*  Setting font size to 32px */
    }
    
}

/* Large Mobile (540px-720px) */
@media (min-width: 540px) and (max-width: 720px) { /*   Media Query for Large Mobile */

    /*  General Margin and Padding for Mobile */
    #main-content{
        max-width: 100%;    /*  Setting width to 100% */
        border: 2px solid #000000;  /*  Adding border */
        margin-top:20px ;   /*  Adding top margin for spacing */
    }
    /*  General Margin and Padding for Mobile */
    .main-content {
        background-color: #ffffff;  /*  Setting background color to #ffffff */
        margin-bottom: 0;   /*  Removing bottom margin for spacing */
    }
    /*  Styling for the body*/
    .body{
        margin: 0px;    /*  Removing margin for spacing */
    }
    /*  Styling for the logo*/
    .white-container-box img{
        width: 80px;    /*  Setting width to 80px */
        height: 80px;   /*  Setting height to 80px */
    }
    /*  Styling for the white container box*/
    .white-container-box{
        margin-top: 20px;   /*  Adding top margin for spacing */
        margin-bottom: 20px;    /*  Adding bottom margin for spacing */
    }
    /*  Styling for the navigation links*/
    .nav-links {
        gap: 20px; /*   Setting gap between navigation links */
    }
    /*  Styling for the heading title*/
    .heading-title{
        text-align: center; /*  Aligning text to the center */
        font-size: 36px;    /*  Setting font size to 36px */
        padding-left: 20px; /*  Adding left padding for spacing */
        padding-right: 20px;    /*  Adding right padding for spacing */

    }
    /*  Styling for the title*/
    .title{
        font-size: 48px;    /*  Setting font size to 48px */
        padding: 20px;    /*  Adding padding for spacing */
        text-align: center;  /*  Aligning text to the center */
        padding: 20px 20px 0px 20px;    /*  Adding padding for spacing */
    }
    /*  Styling for the subtitle*/
    .subtitle { 
        font-size: 20px;    /*  Setting font size to 20px */
        margin: 20px 20px;  /*  Adding top and bottom margin for spacing */
    }
    /*  Styling for the container*/
    .container {
        display: grid;      /*  Using grid layout */
        grid-template-columns: 1fr; /*  Setting column width to 1fr */
        grid-template-rows: 1fr ; /*    Setting row height to 1fr */
        gap: 0;     /*  Removing gap between grid items */
        width: 100%;    /*  Setting width to 100% */
        height: 100%;   /*  Setting height to 100% */
        box-sizing: border-box;  /*  Box-sizing: border-box to include padding and border in the width and height */
    }
    /*  Styling for the featured section */
    .featured{
        display: none;  /*  Hiding the featured section */
    }
    /*  Styling for the album cover*/
    .album-cover {
        overflow: hidden;   /*  Overflow: hidden to hide any content that overflows the container */
        display: flex;  /*  Using flexbox to create a flex container */
        align-items: center;    /*  Aligning items in the center of the container */
        justify-content: center;    /*  Justifying content in the center of the container */
        width: 100%;    /*  Setting width to 100% */
        aspect-ratio: 1 / 1;        /*  Setting aspect ratio to 1/1 */
    }
    /*  Styling for the album cover image*/
    .album-cover img {
        width: 100%;    /*  Setting width to 100% */
        height: 100%;   /*  Setting height to 100% */
        object-fit: cover;  /*  Object-fit: cover to cover the entire container */
        border-radius: 0;   /*  Removing border radius */
    }
    /*  Styling for the grid container*/
    .grid-container {
        column-count: 1;    /*  Setting column count to 1 */
        padding-left: 20px; /*  Adding left padding for spacing */
        padding-right: 20px;    /*  Adding right padding for spacing */
        padding-bottom: 20px;   /*  Adding bottom padding for spacing */
        margin-bottom: 20px;    /*  Adding bottom margin for spacing */
    }

    /*  Styling for the grid container h2*/
    .grid-container h2{ 
        text-align: center; /*  Aligning text to the center */
        font-size: 32px;    /*  Setting font size to 32px */
        margin-top: 20px;
    }
    /*  Styling for the author*/
    .author{
        padding: 20px 20px; /*  Adding top and bottom padding for spacing */
    }
    /*  Styling for the author section*/
    .author_section{    
        display: flex;  /*  Using flexbox to create a flex container */
        grid-template-columns: 1fr auto;    /*  Setting column width to 1fr and auto */
        gap: 20px;  /*  Adding gap between grid items */
        align-items: center;    /*  Aligning items in the center of the container */
        flex-direction: column-reverse; /*  Setting flex direction to column-reverse */
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Small Mobile (360px-540px) */
@media (max-width: 540px) { /*  Media Query for Small Mobile */

    /*  Styling for the main content*/
    #main-content{
        margin-top: 20px;   /*  Adding top margin for spacing */
        max-width: 100%;    /*  Setting width to 100% */
        border: 2px solid #000000;  /*  Adding border */
    }
    /*  Styling for the main content */
    .main-content { 
        background-color: #ffffff;  /*  Setting background color to #ffffff */
        margin-bottom: 0;   /*  Removing bottom margin for spacing */
    }
    /*  Styling for the body*/
    .body{
        margin: 0px;    /*  Removing margin for spacing */
    }
    /*  Styling for the logo */
    .white-container-box img{
        width: 80px;    /*  Setting width to 80px */
        height: 80px;   /*  Setting height to 80px */
    }
    /*  Styling for the white container box*/
    .white-container-box{
        margin-top: 20px;   /*  Adding top margin for spacing */
        margin-bottom: 20px;    /*  Adding bottom margin for spacing */
    }
    /*  Styling for the navigation links*/
    .nav-links {
        gap: 20px;  /*   Setting gap between navigation links */
    }
    /*  Styling for the navigation links*/
    .nav-links a{
        margin: auto;   /*  Adding auto margin for spacing */
    }
    /*  Styling for the title*/
    .title{
        font-size: 38px;    /*  Setting font size to 38px */
        padding: 20px 20px 0px 20px;
        text-align: center; /*  Aligning text to the center */
    }
    /*  Styling for the heading title*/
    .heading-title {    
        font-size: 34px;    /*  Setting font size to 34px */
        margin: 0px 20px 0px 20px;  /*  Adding top, left, and right margin for spacing */
        text-align: center; /*  Aligning text to the center */

    }
    /*  Styling for the subtitle*/
    .subtitle {
        font-size: 20px;    /*  Setting font size to 20px */
        margin: 16px 16px;  /*  Adding top and bottom margin for spacing */
    }
    /*  Styling for the container*/
    .container {
        display: grid;  /*  Using grid layout */
        grid-template-columns: 1fr;     /*  Setting column width to 1fr */
        grid-template-rows: 1fr ;     /*  Setting row height to 1fr */
        gap: 0;     /*  Removing gap between grid items */
        width: 100%;    /*  Setting width to 100% */
        height: 100%;   /*  Setting height to 100% */
        box-sizing: border-box;  /*  Box-sizing: border-box to include padding and border in the width and height */
    }
    /*  Styling for the featured section*/
    .featured{
        display: none;  /*  Hiding the featured section */
    }
    /*  Styling for the album cover*/
    .album-cover {
        overflow: hidden;       /*  Overflow: hidden to hide any content that overflows the container */
        display: flex;          /*  Using flexbox to create a flex container */
        align-items: center;    /*  Aligning items in the center of the container */
        justify-content: center;    /*  Justifying content in the center of the container */
        width: 100%;            /*  Setting width to 100% */
        aspect-ratio: 1 / 1;    /* Using aspect ratio to 1/1 */  
    }
    /*  Styling for the album cover image */
    .album-cover img {
        width: 100%;    /*  Setting width to 100% */
        height: 100%;   /*  Setting height to 100% */
        object-fit: cover;  /*  Object-fit: cover to cover the entire container */
        border-radius: 0;   /*  Removing border radius */
    }
    /*  Styling for the grid container*/
    .grid-container {
        column-count: 1;    /*  Setting column count to 1 */
        padding-left: 16px; /*  Adding left padding for spacing */
        padding-right: 16px;    /*  Adding right padding for spacing */
        padding-bottom: 16px;   /*  Adding bottom padding for spacing */
    }
    /*  Styling for the grid container h2*/
    .grid-container h2{
        text-align: center; /*  Aligning text to the center */
        margin: 16px;   /*  Adding margin for spacing */
    }
    /*  Styling for the author*/
    .author{
        padding: 16px 16px; /*  Adding top and bottom padding for spacing */
    }
    /*  Styling for the author section*/
    .author_section{    
        display: flex;  /*  Using flexbox to create a flex container */
        grid-template-columns: 1fr auto;        /*  Setting column width to 1fr and auto */
        gap: 20px;  /*  Adding gap between grid items */
        align-items: center;        /*  Aligning items in the center of the container */
        flex-direction: column-reverse; /*  Setting flex direction to column-reverse */
    }
}

